*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    background-image: url(./../ASSETS/Img/background-anzmangashd.jpg);
    background-attachment: fixed, scroll;  
    background-position: center center;  
}

.container {
    max-width: 970px;
    margin: 0 auto;
    background-color: white;
}
.menu_navegacion {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: #222222;
    align-items: center;
}
.navegacion a{
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 14px 11px;
}
.navegacion img{
    width: 18px;
    padding-right: 5px;
    filter: invert(98%) sepia(75%) saturate(34%) hue-rotate(262deg) brightness(113%) contrast(100%);
}
.navegacion a:hover{
    background-color: #090909;
}