
/*inicio de two_columbs*/
.two_columbs{
    display: grid;
    grid-template-columns: 630.5px 339.5px;
    margin-top: 60px;
}
.catalogo_animes{
    font-size: 15px;
    border-bottom: 1px solid;
}
.catalogo_animes h2{
    text-align: center;
}
.orden_catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.orden_catalogo a{
    text-decoration: none;
    color: black;
}
.catalogo1{
    width: 167px;
    height: 233px;
    border: 1px solid #DDDDDD;
    margin: 20px 7px 70px 7px;
}
.catalogo1 .catalogo_name{
    height: 50px;
    border: 1px solid #DDDDDD;
    margin: 0px -1px;
    background-color: #f5f5f5;
}
.catalogo1 .catalogo_name img{
    width: 15px;
    margin: 0px;
    padding: 5px 5px 0px 0px;
}
.catalogo_name p {
    text-align: center;
    padding-top: 3px;
}
.orden_catalogo img{
    width: 97%;
    margin: 2%;
}
.orden_catalogo img:hover{
    opacity: 0.9;
}
.catalogo1:hover{
    border: 1px solid #8f8f8fd3;
}
.catalogo1 .catalogo_name:hover{
    background-color: #e9e7e7;
    text-decoration: underline;
}
/*fin de two_columbs*/

/*Inicio 2 columna rating - mangas populares*/
.animes_rating{
    margin-inline: 20px;
}
.titulo_mangas_populares{
    font-size: 15px;
    color: white;
    padding: 15px;
    margin-top: 10px;
    text-align:start;
    background-color: #19628B;
}
.contenido_populares{
    border: 1px solid #19628B;
}
.contenido_populares a{
    font-size: 14px;
    text-decoration: none;
    color: #27A2EE;
}
.contenido_populares a:hover{
    text-decoration: underline;
}
.contenido_populares img{
    width: 70px;
    margin: 15px 0px 10px 20px;
}
.contenido_populares img:hover{
    opacity: 0.9;
}
.contenido_populares{
    display: grid;
    grid-template-columns: 104px 193px;

}
.informacion_popular{
    padding-top: 18px;
}
.informacion_popular p{
    padding-top: 7px;
    font-size: 15px;
}
.popular, .informacion_popular{
    border-bottom: 1px solid #DDDDDD;
}
/*fin 2 columna rating - mangas populares*/

/*Inicio 2 columna rating - mangas mas vistos*/
.informacion_popular img{
    width: 20px;
    margin: 0px;
    padding-right: 6px;
}
/*Fin 2 columna rating - mangas mas vistos*/
